body
{
	color: beige;
	font-family: Georgia, 'Times New Roman', Times, serif;
	background-image:Linear-gradient(150deg, rgba(34, 188, 199, 0.8), rgba(235, 128, 128, 0.822) 70.71%),Linear-gradient(127deg, rgb(167, 130, 216), black 70.71%),Linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%); ;
}
.navbar
{
	display: flex;
	justify-content:center;
}
h1
{
	text-orientation: uppercase;
}
ul li{
	display: inline-block;
	list-style-type:none;
	}	
ul li a {
	display:inline-block;   
	width:250px;
	color:#DCDCDC;
	text-decoration:none;
	text-align:center;
	font-size: 25px;
	}
li a:hover 
{
	color:rgb(13, 12, 87) !important;	
}
.logo
{
	margin-top:10px;
}
.course1
{ 
	width:250px;
	height:250px;
}
.course2
{ 
	width:250px;
	height:250px;
}
.course3
{ 
	width:250px;
	height:250px;
}
.c1
{
	width:250px;
	height:240px;
}
.c2
{
	width:250px;
	height:240px;
}
.c3
{
	width:250px;
	height:240px;
}
.course1:hover{
    opacity: 0.5;
}
.course2:hover{
    opacity: 0.5;
}
.course3:hover{
    opacity: 0.5;
}
.b1
{
	width:100%;
	height:250px;
	display: flex;
	justify-content: space-around;
}
.mp
{
	margin-top:-150px;
	display: none;
}
.mp1
{
	display: none;
}	
.mp2
{
	display: none;
}	
.btnCourses1Hover{
    display:inline !important;
    opacity: 1 !important;
}
.msg
{
	top: 400px;
	padding-bottom: 15px;
	padding-left: -10px;
	padding-right: 10px;
	padding-top: -15px;
	background-color: blanchedalmond;
	display:none;
	width: 400px;
	height: 80px;
	color: black;
	text-align: left;
	z-index: 4;
	white-space: pre;
}
.close
{
	width:10px;
	height: 20px;
	background-color: black;
	border: 1px solid white;
	margin-left: 390px;
	margin-top: -35px;
}